/* ベーススタイル */
.container {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  height: calc(100vh - 80px);
  padding: 20px;
  background-color: gray;
}

/* 花火アートの枠 */
.artContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: auto 0;
  overflow: hidden scroll; /* 水平方向にスクロール可能 */ /* 垂直方向のスクロールを無効化 */
  white-space: nowrap; /* 子要素を横並びに維持 */
}

.pixelartImage {
  width: 100%;
  aspect-ratio: 16/9;
  margin: 0 auto;
  object-fit: cover;
}

.fireworks {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  background-color: transparent;
  transform: translate(-50%, -50%);
}

.fireworkButton {
  position: absolute;
  right: -130px;
  bottom: 0;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  background-color: #09f5a2;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.chatBubbleContainer {
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  max-height: calc(100vh - 120px);
  padding: 10px;
  overflow: scroll visible;
}

.chatBubble {
  padding: 8px 16px;
  margin: 4px 0;
  font-size: 1rem;
  color: white;
  word-wrap: break-word;
  background-color: rgb(3 3 3 / 30%);
  box-shadow:
    2px 0 #333,
    -2px 0 #333,
    0 2px #333,
    0 -2px #333;
  animation: slide-up 0.2s ease-out;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(16px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.chatBubbleContainer:hover .chatBubble {
  background-color: rgb(3 3 3 / 100%);
}

.chatOptions {
  position: fixed;
  right: 20px;
  bottom: 20px;
  left: 20px;
  z-index: 9999;
  display: flex;
  justify-content: space-around;
  opacity: 0;
}

.chatOptions:hover {
  opacity: 1;
}

.chatButtonContainer {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.optionButton {
  box-sizing: content-box;
  padding: 4px 16px;
  font-size: 0.8rem;
  color: #333;
  cursor: pointer;
  user-select: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.optionButton:hover {
  background-color: #ccc;
}

.chatFunctions {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-evenly;
}

.toggleChatDisplayButton {
  width: 50%;
  user-select: none;
  border: 1px solid #fff;
  border-radius: 10px;
}

.toggleChatDisplayButton:hover {
  background-color: #ccc;
}

.screenshotButton {
  width: 50%;
  padding: 4px 16px;
  user-select: none;
  border: 1px solid #fff;
  border-radius: 10px;
}

.screenshotButton:hover {
  background-color: #ccc;
}

@media (aspect-ratio <= 1.44) {
  .chatOptions {
    opacity: 1;
  }
}

/* スマホ表示 */
@media (aspect-ratio <= 1) {
  .container {
    padding: 10px;
  }

  .pixelartContainer {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    white-space: nowrap; /* 横並びを維持 */
  }

  .pixelartImage {
    width: fit-content;
    height: 100%;
    margin: auto 0;
  }

  .artContainer {
    height: calc(100vh - 330px);
    margin: 0;
    overflow: scroll hidden; /* 水平方向にスクロール可能 */ /* 垂直方向のスクロールを無効化 */
  }

  .chatOptions {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    opacity: 1;
  }

  .chatButtonContainer {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }

  .optionButton {
    margin: 0;
  }
}
