/* ベーススタイル */
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 20px;
  background-color: gray;
}

/* 花火アートの枠 */
.artContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: calc(95% - 100px); /* ヘッダーの高さを考慮して調整 */
  margin: 0 auto;
}

.fireworks {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  background-color: transparent;
  transform: translate(-50%, -50%);
}

.fireworkButton {
  position: absolute;
  right: -130px;
  bottom: 0;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  background-color: #09f5a2;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.chatBubbleContainer {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  padding: 20px;
}

.chatBubble {
  max-width: 50%;
  padding: 8px 20px;
  margin: 8px 0;
  font-size: 1rem;
  color: white;
  word-wrap: break-word;
  background-color: rgb(3 3 3 / 30%);
  box-shadow:
    2px 0 #333,
    -2px 0 #333,
    0 2px #333,
    0 -2px #333;
  animation: slide-up 0.2s ease-out;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(16px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.chatOptions {
  position: fixed;
  right: 20px;
  bottom: 20px;
  left: 20px;
  display: flex;
  justify-content: space-around;
}

.optionButton {
  padding: 4px 16px;
  font-size: 0.8rem;
  color: #333;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.optionButton:hover {
  background-color: #ccc;
}

.pixelartImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.toggleChatDisplayContainer {
  width: 40%;
}

.toggleChatDisplayButton {
  color: #333;
}

/* レスポンシブ対応 */
@media (width <= 1024px) {
  .artContainer {
    width: 100%;
    height: calc(80% - 100px); /* ヘッダーの高さを考慮して調整 */
  }

  .fireworks {
    width: 200px;
    height: 200px;
  }

  .fireworkButton {
    right: -100px;
    font-size: 14px;
  }

  .chatBubble {
    max-width: 70%;
    font-size: 14px;
  }

  .optionButton {
    padding: 8px 16px;
  }
}

@media (width <= 768px) {
  .container {
    padding: 10px;
  }

  .artContainer {
    height: calc(70% - 80px); /* ヘッダーの高さを考慮して調整 */
    margin: 0;
  }

  .fireworks {
    width: 150px;
    height: 150px;
  }

  .fireworkButton {
    right: -80px;
    font-size: 12px;
  }

  .chatBubble {
    max-width: 80%;
    font-size: 12px;
  }

  .optionButton {
    padding: 6px 12px;
  }
}

@media (width <= 480px) {
  .artContainer {
    height: calc(60% - 60px); /* ヘッダーの高さを考慮して調整 */
  }

  .fireworks {
    width: 120px;
    height: 120px;
  }

  .chatOptions {
    flex-direction: column;
    gap: 10px;
    height: 25%;
  }

  .optionButton {
    width: 100%;
    margin: 4px;
  }
}
