.container {
  display: flex;
  align-items: center;
}

.fireworkContainer {
  position: relative;
  display: ruby;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(7, 60px);
  gap: 1px;
}

.gridCell {
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: lightgray;
  border: 1px solid #ccc;
}

.colorPickerContainer {
  margin: 5%;
}

.controlButton {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/* モーダルのオーバーレイ */
.modalOverlay {
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.colorPickerModal {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 25%;
  padding: 10px;
  background: rgb(253 252 252);
  box-shadow:
    4px 0 black,
    -4px 0 black,
    0 4px black,
    0 -4px black;
}

.colorButton {
  width: 20px;
  height: 20px;
  margin: 5px;
  cursor: pointer;
  border: none;
  box-shadow:
    1px 0 gray,
    -1px 0 gray,
    0 1px gray,
    0 -1px gray;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16px;
  cursor: pointer;
  background: transparent;
  border: none;
}

/* 色を選択するボタン */
.colorPickerButton {
  padding: 8px 16px;
  font-size: 16px;
  color: black;
  cursor: pointer;
  border: none;
}

.resetButton {
  padding: 8px 16px;
  margin: 5px;
  font-size: 16px;
  color: black;
  cursor: pointer;
  border: none;
}

.extractButton {
  padding: 8px 16px;
  margin: 5px;
  font-size: 16px;
  color: black;
  cursor: pointer;
  border: none;
}

/* 花火玉の名前を表示する部分 */
.fireworkNameDisplay {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
  text-align: center;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
}

/* 名前入力ダイアログ */
.nameDialog {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000; /* 画面の上に表示するために高い値に設定 */
  padding: 20px;
  background-color: white;
  border-radius: 1px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  transform: translate(-50%, -50%);
}

.nameDialog h2 {
  margin: 0 0 10px;
  font-size: 1.5rem;
  text-align: center;
}

.nameDialog input {
  width: 100%;
  padding: 6px;
  margin-bottom: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  box-shadow:
    4px 0 gray,
    -4px 0 gray,
    0 4px gray,
    0 -4px gray;
}

.nameDialog button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background-color: #353535;
  background-image: linear-gradient(
      135deg,
      transparent 0 20px,
      #353535 30px calc(100% - 30px),
      transparent calc(100% - 20px)
    ),
    radial-gradient(#d8afc1 30%, transparent 30%);
  background-repeat: no-repeat, repeat;
  background-size:
    100% 100%,
    10px 10px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

s .nameDialog button:hover {
  background-color: #1a1a1c;
}

.hovered {
  border: 2px solid #ffd700; /* ゴールド色で縁を光らせる */
  box-shadow: 0 0 10px #ffd700; /* 光のエフェクトを追加 */
}

.layer1 {
  box-shadow: 0 0 20px rgb(255 215 0 / 80%); /* ゴールドの光 */
}

.layer2 {
  box-shadow: 0 0 20px rgb(0 191 255 / 80%); /* 青の光 */
}

.layer3 {
  box-shadow: 0 0 20px rgb(124 252 0 / 80%); /* 緑の光 */
}

.layer4 {
  box-shadow: 0 0 20px rgb(255 69 0 / 80%); /* 赤の光 */
}

.saveundoContainer {
  display: flex;
  align-items: center; /* 中央に配置 */
  justify-content: center; /* 中央に配置 */
}

.save {
  display: flex;
  flex-direction: column; /* 子要素を縦に並べる */
  gap: 20px; /* 要素間のスペースを設定 */
}

.buttonText {
  margin: 0; /* デフォルトのマージンをリセット */
  font-size: 42px; /* フォントサイズを調整 */
}

@media (width <= 720px) {
  .colorPickerModal {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
    padding: 10px;
    background: rgb(253 252 252);
    box-shadow:
      4px 0 black,
      -4px 0 black,
      0 4px black,
      0 -4px black;
  }
}
