.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.title {
  margin: 20px 0;
  font-size: 24px;
}

.button {
  width: 400px;
  padding: 10px;
  margin: 10px 0;
  font-size: 36px;
  color: white;
  text-align: center;
  cursor: pointer;
  background-color: #333;
  border: none;
  box-shadow:
    4px 0 black,
    -4px 0 black,
    0 4px black,
    0 -4px black;
}

.button:hover {
  background-color: #555;
}

.options {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.optionButton {
  width: 190px;
  padding: 10px;
  font-size: 32px;
  color: white;
  text-align: center;
  cursor: pointer;
  background-color: #333;
  border: none;
  box-shadow:
    4px 0 black,
    -4px 0 black,
    0 4px black,
    0 -4px black;
}

.optionButton:hover {
  background-color: #555;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  width: 300px; /* ロゴの幅をピクセルで調整 */
  height: auto;
  margin: 0 auto;
}

.link {
  padding: 10px; /* パディング */
  font-weight: bold; /* 太字 */
  color: #0070f3; /* リンクの色 */
  text-decoration: none; /* 下線を消す */
  border: 1px solid #0070f3; /* 枠線 */
  box-shadow:
    4px 0 black,
    -4px 0 black,
    0 4px black,
    0 -4px black;
  transition: background-color 0.3s ease; /* ホバー時のアニメーション */
}
